body {
    background: url("../assets/media/bg.png") no-repeat;
    background-size: cover;
    width: 910px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

div {
    display: inline;
    margin-right: auto;
    margin-left: auto;
}

img {
    width: 450px;
}