/*.loader {*/
/*border: 16px solid #f3f3f3; !* Light grey *!*/
/*border-top: 16px solid #3498db; !* Blue *!*/
/*border-radius: 50%;*/
/*width: 120px;*/
/*height: 120px;*/
/*animation: spin 2s linear infinite;*/
/*margin-top: 250px;*/
/*}*/

/*@keyframes spin {*/
/*0% { transform: rotate(0deg); }*/
/*100% { transform: rotate(360deg); }*/
/*}*/

body {
    background: url("../assets/media/bg.png") no-repeat;
    background-size: cover;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    z-index: 9999;
    background: url("../assets/media/Preloader_5.gif") center no-repeat;
    background-size: 25%;
}

p {
    position: relative;
    top: 64%;
    left: 45.2%;
    color: rgb(103, 0, 1);
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 5em;
    animation: type 2s steps(60, end) infinite;
}

@keyframes type{
    from { width: 0; }
}