body {
    background: url("../assets/media/bg.png") no-repeat;
    background-size: cover;
    margin-top: 10%;
    font-size: 1.2rem;
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 40%;
    border: 8px rgb(103, 0, 1) solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

input {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    border: none;
    height: 20px;
    width: 180px;
    font-size: 1rem;
}

input:focus {
    outline-color: rgb(103, 0, 1);
}

#Login, #register {
    width: 80px;
    height: 30px;
    background-color: rgb(103, 0, 1);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#Login:hover, #register:hover {
    background-color: rgba(131, 0, 1, 0.73);
}

p {
    font-style: italic;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#errorMessage {
    display: none;
    font-size: 1.2rem;
    background-color: rgba(131, 0, 1, 0.73);
    padding: 5px;
}

a {
    padding: 2px;
    background-color: rgb(103, 0, 1);
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgba(131, 0, 1, 0.73);
    text-decoration: underline;
}

#userError {
    display: none;
    font-size: 1.2rem;
    background-color: rgba(131, 0, 1, 0.73);
    padding: 5px;
}