#homebot {
    margin-bottom: 10px;
    margin-top: 100px;
}

#homebot li {
    display: inline-block;
    padding: 1px 10px;
    margin-right: 15px;
    border: rgb(103, 0, 1) solid;
    border-radius: 50%;
    background: rgb(103, 0, 1);
    font-size: 1.5rem;
}

#homebot li:first-child {
    margin-left: 80%;
}
